<launch>
    <!-- For the testing safety, do dryrun by default -->
    <arg name="dryrun" default="true"/>
    <arg name="robot_namespace" default="/a112138"/>
    <arg name="udp_duration" default="0.002"/>
    <arg name="cmd_check" default="true"/>

    <node name="real_robot" pkg="unitree_legged_real" type="real_robot" args="$(arg dryrun) $(arg robot_namespace) $(arg udp_duration) $(arg cmd_check)"/>
</launch>